@import "../../constants/colors.scss";

.article__card {
  display: flex;
  justify-content: space-between;
  background-color: $baseBackgroundColor;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.article__card__author {
  flex: 0 0 30%;
  display: flex;
  justify-content: end;
}
